.content {

  ul > li {
    list-style-image: @list-bullet;
    padding: 0;
  }

  h1, h2, h3, h4, h5, h6, p {

    a {
      .link;
      color: @grey-text;
    }
  }

  h1, h2, h3, h4 {
    margin-top: 1em;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    padding-bottom: 10px;
    font-size: 18px;
    line-height: 24px;
    border-bottom: @grey-border;
  }

  p {
    font-size: 14px;
    line-height: 24px;
    margin: 20px auto;

    a {
      .link;
    }

    &.docs {
      margin: 0;
      padding: 0;
    }
  }
}

.end-link {
  margin-top: 2em;
  padding: 1em;
  font-size: 14px;
  background-color: #d9edf7;;
  border: 1px solid #bce8f1;
  border-radius: 5px;
  color: #31708f;

  a {
    color: darken(@blue-links, 20%);
    text-decoration: underline;
  }
}

.index-content {

  a {
    color: @white;
  }

  .gradient-with-image;
  min-height: 100%;
  color: @white;
  padding: 6em 0;

  .mproject-icon {
    .img-responsive;
    display: inline-block;
  }

  .main-title {
    max-width: 20em;
  }

  .main-subtitle {
    max-width: 30em;
    margin: 1em 0 2em 0;
    line-height: 24px;
  }

  .button-group {
    margin-bottom: 2em;

    .link-button {
      display: inline-block;
      margin-right: 1em;

      a {
        display: inline-block;
        min-width: 21em;
      }
    }

    a {
      padding: 1em 4em;
      background: @orange;
      border-radius: 4px;
      .transition(background 0.5s 0s);

      &:hover,
      &:focus {
        background: @white;
      }
    }
  }

  .group-links {

    img {
      display: inline;
      margin-right: 7px;
    }

    p {
      display: inline-block;
      padding: 0;
      margin: 1em 20px 1em 0;
    }

    .github-btn {
      width: 88px;
      height: 25px;
      border: none;
      margin: 1em 12px -12px 0;
    }
  }

  .version-button {
    margin-top: 4em;
    padding: 1em 2em;
    border-radius: 4px;
    color: @static-blue;
    background: @white;
    color: @white;
    background: @white-25;

  }

  footer {
    border-top: 0;
    margin-left: -1em;

    img {
      margin: 0;
    }

    .link-table a {
      color: @white;
    }
  }
}

@media (max-width: 992px) {

  .index-content {

    .mproject-icon {
      .img-responsive;
    }

    .main-title,
    .main-subtitle,
    .group-links,
    .version-button {
      .text-center;
      max-width: 100%;
    }

    .button-group {
      .text-center;
    }

  }
}

@media (max-width: 768px) {

  .index-content {

    .button-group {

      .link-button {
        display: block;
        margin: 1em auto;
        .text-center;
      }
    }
  }
}

@media (max-width: 520px) {

  h1 {
    font-size: 20px;
  }

  h4, h5 {
    font-size: 16px;
    line-height: 20px;
  }

  .index-content {
    padding: 2em 0;

    b, span {
      display: inline;
      margin: 0 auto;
    }

    .group-links {
      .text-center;

      p, .github-btn {
        display: block;
        margin: 1em auto;
      }
    }

    .button-group {

      .link-button {
        a {
          padding: 1em;
          min-width: 15em;
        }
      }
    }

    .version-button {

      strong,
      span {
        display: block;
      }
    }

  }

  .content {

    .headline-title {
      .text-center;
    }
  }

}