.content {
  padding: 2em 0;

  ul > li {
    list-style-image: @list-bullet;
    padding: 0;
  }

  h1, h2, h3, h4, h5, h6, p {

    a {
      .link;
      color: @grey-text;
    }
  }

  h1, h2, h3, h4 {
    margin-top: 1.5em;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    padding-bottom: 10px;
    font-size: 18px;
    line-height: 24px;
    border-bottom: @grey-border;
  }

  p {
    font-size: 14px;
    line-height: 24px;
    margin: 20px auto;

    a {
      .link;
    }

    &.docs {
      margin: 0;
      padding: 0;
    }
  }

  pre {
    border-radius: 5px;

    code {
      background: @grey-code-background;
      border-radius: 5px;
    }
  }

}

.end-link {
  margin-top: 2em;
  padding: 1em;
  font-size: 14px;
  background-color: @grey-background;
  border-radius: 5px;

  a {
    color: @static-blue;
  }
}

.index-content {

  a {
    color: @white;
  }

  .gradient-with-image;
  min-height: 100%;
  color: @white;
  padding: 6em 0;

  .mproject-icon {
    .img-responsive;
    display: inline-block;
  }

  .main-title {
    max-width: 20em;
  }

  .main-subtitle {
    max-width: 30em;
    margin: 2em 0;
    line-height: 24px;
  }

  .button-group {
    margin-bottom: 2em;

    .link-button {
      display: inline-block;
      margin-right: 1em;
    }

    a {
      padding: 1em 4em;
      background: @orange;
      border-radius: 4px;
      .transition(background 0.5s 0s);

      &:hover,
      &:focus {
        background: @white;
      }
    }
  }

  .group-links {

    img {
      display: inline;
      margin-right: 7px;
    }

    p {
      display: inline-block;
      padding: 0;
      margin: 1em 20px 1em 0;
    }
  }

  .version-button {
    margin-top: 4em;
    padding: 1em;
    border-radius: 4px;
    color: @static-blue;
    background: @white;
    color: @white;
    background: @white-25;

  }

  footer {
    border-top: 0;

    .link-table a {
      color: @white;
    }
  }
}