footer {
  margin-top: 4em;
  border-top: @grey-border;
  padding: 4em 0 2em 0;
}

.social-icons {
  .text-right;

  a {
    display: inline-block;
    margin: 0 3px;
  }
}

.footer-logo {
  margin-top: 4px;

  img {
    margin: 0;
  }
}

.link-table {
  margin-bottom: 1em;

  a {
    color: @grey-text;
  }

  li  strong a {
    font-size: 15px;
    font-weight: bold;
  }

  li a {
    font-size: 12px;
    line-height: 24px;
  }
}

.index-content {

  footer {
    border-top: 0;
    margin: 1em 0 0 -1em;
    padding: 3em 0 2em 0;

    .link-table {

      p {
        display: inline;
        margin-right: 3em;

        a {
          .link;
          color: @white;
          font-size: 15px;
        }
      }
    }

    .bottom-text {
      margin-top: 3em;
    }
  }
}

@media (max-width: 992px) {

  footer {
    .text-center;
    margin-top: 2em;

    .footer-logo img {
      margin: 2em auto;
    }

    .link-table a,
    .link-table strong a {
      font-size: 16px;
      line-height: 30px;
    }

    .social-icons {
      .text-center;
    }
  }

}

@media (max-width: 768px) {

  .index-content {

    footer {

      .link-table {

        p {
          display: block;
          margin-right: 0;
        }
      }

      .bottom-text {
        margin-top: 1em;
      }
    }
  }
}

@media (max-width: 520px) {

  .index-content {

    footer {

      .bottom-text {
        margin-top: 1em;
      }
    }
  }

}