.navbar-static-top {
  margin: 0.5em 0;
  background-color: @white;
  border: none;
}

//.container > .navbar-header {
//  margin-left: -15px;
//}

.nav.navbar-nav {
  font-size: 14px;
  margin-top: 16px;

  & > li > a {
    padding: 5px 15px;
    .link;
    color: @grey-text;

    &:hover,
    &:focus {
      background: none;
    }

    &.docu-link {
      background-color: @static-blue;
      color: @white;
      border-radius: 4px;
      .transition(all 0.5s 0s);

      &:hover,
      &:focus {
        background-color: @white;
        color: @grey-text;
      }
    }
  }
}

.sidebar-nav {
  margin-left: -15px;

  a.active-link {
    padding-left: 1em;
    color: @static-blue;

    &:before {
      content: " ";
      position: absolute;
      top: 1em;
      left: 0;
      width: 0;
      height: 0;
      border-top: 6px solid transparent;
      border-bottom: 6px solid transparent;
      border-left: 6px solid @static-blue;
    }
  }
}

.navbar-toggle {
  border: 2px solid @static-blue;
  border-radius: 4px;
  margin-top: 1em;
  padding: 5px 5px;
  z-index: 10;

  .icon-bar {
    background: @static-blue;
    width: 24px;
    height: 2px;
  }
}

.tmp-logo {
  position: relative;

  .beta-badge {
    display: inline-block;
    position: absolute;
    top: 0;
    right: -6em;
    margin-left: 1em;
    background: @static-blue;
    margin: 0.5em 0;
    padding: 0.4em 1.2em;
    text-transform: uppercase;
    font-size: 0.7em;
    color: @white;
    font-weight: bold;
    border-radius: 0.5em;
  }
}

.headline {
  padding: 3em 0;
  color: @white;
  background: @static-blue url('/img/honeycomb.png') repeat right top;

  .headline-title {
    margin: 5px 0 20px 0;
  }

  .headline-subtitle {
    border: 0;
    width: 30em;
    margin-top: 1em;
  }

  h2 {
    font-size: 18px;
    line-height: 24px;
  }
}

.headline-bottom {
  padding: 1em;
  font-size: 18px;
  border-bottom: @grey-border;

  p {
    padding: 0;
    margin: 0;
  }
}

@media (max-width: 992px) {

  .navbar-header {
    float: none;
  }

  nav.collapse {
    margin-right: 6em !important;
    margin-bottom: 1em !important;
  }

  .sidebar-nav {
    margin-left: 0;
  }

  .tmp-logo {

    .beta-badge {
      right: 18em;
    }
  }
}

@media (max-width: 768px) {

  .nav.navbar-nav {
    .text-center;
    font-size: 16px;

    li {
      padding: 5px 0;
    }
  }

  .headline {

    .headline-title {
      .text-center;
      font-size: 30px;
    }

    .headline-subtitle {
      display: none;
    }
  }
}

@media (max-width: 650px) {

  .tmp-logo {

    .beta-badge {
      position: relative;
      width: 5em;
      display: block;
      top: 0;
      left: 20em;
      margin: 0 9em 0 0;
      font-size: 8px;
    }
  }
}