.navbar-static-top {
  margin: 0.5em 0;
  background-color: @white;
  border: none;
}

.nav.navbar-nav {
  font-size: 14px;
  margin-top: 12px;

  & > li > a {
    padding: 5px 15px;
    .link;
    color: @grey-text;

    &:hover,
    &:focus {
      background: none;
    }

    &.docu-link {
      background-color: @static-blue;
      color: @white;
      border-radius: 4px;
      .transition(all 0.5s 0s);

      &:hover,
      &:focus {
        background-color: @white;
        color: @grey-text;
      }
    }
  }
}

.navbar-toggle {
  border: 2px solid @static-blue;
  border-radius: 4px;
  margin-top: 1em;

  .icon-bar {
    background: @static-blue;
    width: 30px;
    height: 3px;
  }
}

.headline {
  padding: 3em 0;
  color: @white;
  background: @static-blue url('/img/honeycomb.png') repeat right top;

  .headline-title {
    margin: 5px 0 20px 0;
  }

  .headline-subtitle {
    width: 500px;
  }

  h2 {
    font-size: 18px;
    line-height: 24px;
  }
}

.headline-bottom {
  padding: 1em;
  font-size: 18px;
  border-bottom: @grey-border;

  p {
    padding: 0;
    margin: 0;
  }
}

@media (max-width: 992px) {

  .navbar-header {
    float: none;
  }

}

@media (max-width: 768px) {

  .nav.navbar-nav {
    .text-center;
    font-size: 16px;

    li {
      padding: 5px 0;
    }
  }
}