@import "variables";
@import "../../bower_components/bootstrap/less/bootstrap";
@import "zenburn";

body {
  background: #fff;
}

code, pre {
  font-size: 13px;
  font-family: Monaco, Consolas, "Lucida Console", monospace;
}


pre {
  padding: 0;
  code {
    font-size: 14px;
    padding: 1em;
    color: #F8F8F8;
    background: #181818;
  }
}