@import "../../bower_components/bootstrap/less/bootstrap";
@import "variables";
@import "header";
@import "sidebar";
@import "content";
@import "footer";
@import "zenburn";

html, body {
  height: 100%;
}

body {
  background: @white;
  color: @grey-text;
}

a {
  .link;
}

img {
  .img-responsive;
  margin: auto;
}

//code, pre {
//  font-size: 13px;
//  font-family: Monaco, Consolas, "Lucida Console", monospace;
//}
//
//pre {
//  padding: 0;
//  code {
//    font-size: 14px;
//    padding: 1em;
//    color: #F8F8F8;
//    background: #181818;
//  }
//}