footer
  .container
    .row
      .col-md-10
        .link-table
          p
            a(href='http://www.the-m-project.org/docs/absinthe', target='_blank') The-M-Docs
          p
            a(href='https://github.com/mwaylabs/The-M-Project/') GitHub project
          p
            a(href='https://groups.google.com/forum/#!forum/themproject') Google Groups
          p
            a(href='http://www.the-m-project.org/apps/absinthe/kitchensink/index.html') Examples
          p
           a(href='http://blog.the-m-project.org/') Blog
          p
            a(href='/imprint.html') Imprint
      .col-md-2.text-right
        .social-icons.text-center
          a(href='https://github.com/mwaylabs/The-M-Project', target='_blank')
            img(src='/img/m-project-github.png', alt='GitHub-Mark.png')
          a(href='https://twitter.com/_themproject', target='_blank')
            img(src='/img/m-project-twitter.png', alt='twitter.png')
          a(href='http://stackoverflow.com/search?q=%22the-m-project%22', target='_blank')
            img(src='/img/m-project-stackoverflow.png', alt='stackoverflow.png')
    .row.bottom-text
      .col-md-2
        .footer-logo.text-center
          a(href='http://www.mwaysolutions.com/', target='_blank')
            img(src='/img/m-project-mwaysolutions.png', alt='m-project-mwaysolutions.png')
      .col-md-10
        .copyright
          div
            small Copyright © 2011–2013 / All rights reserved by M-Way Solutions GmbH.
          div
            small The M-Project framework is developed by M-Way Solutions – a leading provider of enterprise mobility software and mobile applications.
