footer
  .container
    .row
      .col-md-8
        .row.link-table
          .col-md-3
            ul.list-unstyled
              li
                strong
                  a(href='#') Home
          .col-md-3
            ul.list-unstyled
              li
                strong
                  a(href='#') About
              li
                a(href='https://github.com/mwaylabs/The-M-Project/tree/absinthe', target='_blank') Features
              li
                a(href='http://www.the-m-project.org/docs/absinthe', target='_blank') M-Docs
              li
                a(href='http://www.mwaysolutions.com/', target='_blank') Company
              li
                a(href='http://www.mwaysolutions.com/en/about/imprint/', target='_blank') Imprint
          .col-md-3
            ul.list-unstyled
              li
                strong
                  a(href='#') Community
              li
                a(href='http://blog.the-m-project.org/', target='_blank') Blog
              li
                a(href='https://groups.google.com/forum/#!forum/themproject', target='_blank') Groups
              li
                a(href='https://github.com/mwaylabs/The-M-Project/issues?labels=Absinthe&state=open') GitHub Issues
          .col-md-3
            ul.list-unstyled
              li
                strong
                  a(href='#') Demos
              li
                a(href='http://www.the-m-project.org/apps/absinthe/kitchensink/index.html', target='_blank') Kitchensink
              li
                a(href='http://www.the-m-project.org/apps/absinthe/addressbook/index.html', target='_blank') Addressbook

      .col-md-4.text-right
        .social-icons.text-center
          a(href='https://github.com/mwaylabs/The-M-Project', target='_blank')
            img(src='/img/github.png', alt='GitHub')
          a(href='https://twitter.com/_themproject', target='_blank')
            img(src='/img/twitter.png', alt='twitter')
          a(href='http://stackoverflow.com/search?q=%22the-m-project%22', target='_blank')
            img(src='/img/stackoverflow.png', alt='stackoverflow')
    .row
      .col-md-2
        .footer-logo.text-center
          a(href='http://www.mwaysolutions.com/', target='_blank')
            img(src='/img/mwaysolutions.png', alt='M-Way Solutions')
      .col-md-10
        .copyright
          div
            small Copyright © 2011–2013 / All rights reserved by M-Way Solutions GmbH.
          div
            small The M-Project framework is developed by M-Way Solutions – a leading provider of enterprise mobility software and mobile applications.
