.navbar.navbar-default
  .container
    .navbar-header
      a.navbar-brand(href='/')
        span.logo The-M-Project
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li
          a(href='/getting-started.html')
            span Getting Started
        li
          a(href='/blog/2013-02-18-grunt-0.4.0-released.html')
            span Blog
        li
          a(href='/api/grunt.config.html')
            span API