.navbar.navbar-default
  .container
    .navbar-header
      a.navbar-brand(href='/')
        img.logo(src='/img/logo.png')
    .collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        li
          a(href='/getting-started.html')
            span Getting started
        li
          a(href='/bikini.html')
            span Bikini
        li
          a(href='/examples.html')
            span Examples
        li
          a(href='/community.html')
            span Community
        li
          a.docu-link(href='http://www.the-m-project.org/docs/absinthe/')
            span Documentation